.landingTitle {
	display: flex;
	padding: 3rem;
	justify-content: center;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.landingContent {
	padding: 5rem;
	padding-top: 1rem;
	font-size: 20px;
}
	
