.note {
	background: linear-gradient(to right, rgb(var(--dark-blue-rgb)), 25%, rgb(var(--blue-rgb)));
	flex: 1;
}

.noteTitle {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	padding: 5rem;
}

.noteContent {
	font-size: 20px;
	padding-top: 5rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

